{{!< default}}
<header>
	<h1 class="logo">Ta' lige stilling</h1>
	<p>
		<strong>Ta' lige stilling</strong> er din mulighed for at blive hørt
	</p>
</header>

<main class="canvas container" id="canvas">
</main>

<script>
	window.app = window.app || {};
	window.app.tags={{{data.tagsJson}}};
	window.app.stories={{{data.storiesJson}}};
</script>