@font-face {
  font-family: 'EuclidFlex-Regular';
  src: url('/fonts/EuclidFlex-Regular-WebS.eot'); /* IE9 Compat Modes */
  src: url('/fonts/EuclidFlex-Regular-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('/fonts/EuclidFlex-Regular-WebS.woff2') format('woff2'), /* Super Modern Browsers */
	   url('/fonts/EuclidFlex-Regular-WebS.woff') format('woff'), /* Pretty Modern Browsers */
	   url('/fonts/EuclidFlex-Regular-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('/fonts/EuclidFlex-Regular-WebS.svg#euclidFlexRegular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'EuclidFlex-Bold';
  src: url('/fonts/EuclidFlex-Bold-WebXL.eot'); /* IE9 Compat Modes */
  src: url('/fonts/EuclidFlex-Bold-WebXL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('/fonts/EuclidFlex-Bold-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
	   url('/fonts/EuclidFlex-Bold-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
	   url('/fonts/EuclidFlex-Bold-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('/fonts/EuclidFlex-Bold-WebXL.svg#euclidFlexBold') format('svg'); /* Legacy iOS */
}