* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background:$bg-color;
	color:$blue;
	-webkit-font-smoothing: antialiased;
	font-family:$font-family;
}

input {
	-webkit-font-smoothing: antialiased;
}

header, nav, section, article, aside, footer, main {
   display:block;
}

.container {
	width:100%;
	max-width:1400px;
	position: relative;
	nav {	
		text-align: right;
		margin-top:$spacing;
		a {
			margin-right:$spacing;
			color:$white;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	header {
		position: relative;
		display: block;
		.logo-text {
			font-size:10rem;
			margin-bottom: $spacing;
			color:$white;
			padding-left:50px;
			margin-top: 0;
			margin-bottom: 13px;
		}
		.logo {
			position: absolute;
			top:68px;
			width:150px;
			height:150px;
			background-image: url(/images/logo.png);
			background-image: linear-gradient(transparent, transparent), url(/images/logo.svg);
			background-size:100% auto;
			background-repeat:no-repeat;
			z-index:10;
		}
	}
	.nav {
		position: absolute;
		left:0;
		right:0;
		padding:0 $spacing-small;
		z-index:12;
		margin-top:50px;
		a {
			font-size:16px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	@include respond-to(tablets) {
		header {
			.logo-text {
				font-size:8rem;
			}
		}
	}

	@include respond-to(handhelds) {
		header {
			.logo-text {
				font-size:3.3rem;
				padding-left:35px;
			}
			.logo {
				top: 19px;
				width: 86px;
				height: 86px;
			}
		}
		.nav {
			position: relative;
			margin-top: 0;
			padding: 0;
		}
	}
}