$font-family: 'EuclidFlex-UltraLight', Helvetica, Arial, Verdana;

$spacing: 30px;
$spacing-small: $spacing*0.5;
$border-size: 2px;

$red: #ec382f;
$red-light: #f69c97;
$red-dark: #b72825;
$blue: #253184;
$gray: #b3b3b3;
$gray-light: #cccccc;
$gray-dark: #999999;
$white: white;
$black: black;

$bg-color:$red;