<div class="col-sm-3">
	<form id="tell-your-story_form" class="tell-your-story_form">
		<textarea class="input-story" noresize minlength="5" required></textarea>
		<div class="placeholder">
			Fortæl om <span class="rotate">din oplevelse, din aften, lorem ipsum</span>...
		</div>
		<br/>
		<br/>
		<input type="file" name="file" class="add-picture" id="add-picture" accept="image/jpeg, image/png, image/jpg" />
		<div class="text-status">
			<span class="used-char">0</span> / 256 char
		</div>
		<br/>
		<br/>
		<button class="fb-connect">Del med facebook connect..</button>
		<br/>
		<br/>
		<div class="share-or-text">eller</div>
		<br/>
		<br/>
		<input type="email" class="input-email" placeholder="Indtast din email adresse" required/>

		<br/>
		<br/>
		<button type="submit" class="tell-your-story--submit">Send afsted</button>
	</form>
</div>
<div class="col-sm-9">
	<form id="tell-your-story_form--tags" class="tell-your-story_form--tags">
		<div class="tell-your-story--tags">
			{{#each tags }}
			<a data-id="{{this._id}}" data-name="{{this.name}}">#{{this.name}} ({{this.storyCount}})</a>
			{{/each}}
		</div>
		Tilføj dit eget: #<input type="string" class="custom-tag" placeholder="dit eget tag"/>
		<button class="custom-tag-btn">Tilføj</button>
	</form>
</div>