<a href="#" class="close-btn"></a>
<h1>Tag <strong>lige stilling</strong></h1>
<div class="state-submit">
	<div class="col-sm-6">
		<form id="tell-your-story_form" class="tell-your-story_form">
			<h2>Skriv din historie</h2>
			<div class="tell-your-story--story-box">
				<div class="story-image">
					<a href="#" class="remove-btn"></a>
				</div>
				<div class="text-wrapper">
					<div class="textarea-wrapper">
						<textarea class="input-story" noresize minlength="5" required>Din historie...</textarea>
					</div>
					<a href="#" class="add-picture">
						<input type="file" name="file" id="addPicture" accept="image/jpeg, image/png, image/jpg" />
					</a>
					<a href="#" class="add-video"></a>
				</div>
				<a href="#" class="fb-connect">Login med facebook connect</a>
				
				<div class="input-email-wrapper">
					<input type="email" class="input-email" placeholder="Indtast din email adresse" required/>
					<div class="input-email--indicator">V</div>
				</div>
			</div>


		</form>
	</div>
	<div class="col-sm-6">
		<form id="tell-your-story_form--tags" class="tell-your-story_form--tags">
			<h2>Tag din post her</h2>
			<div class="tell-your-story--tags">
				{{#each tags }}
				<a data-id="{{this._id}}" data-name="{{this.name}}">#{{this.name}} ({{this.storyCount}})</a>
				{{/each}}
			</div>
			Tilføj dit eget: #<input type="string" class="custom-tag" placeholder="dit eget tag"/>
			<button class="custom-tag-btn">Tilføj</button>
		</form>
	</div>

	<a href="#" class="tell-your-story--submit">Send afsted</a>
</div>
<div class="state-done hide">
	<p>
		Mange tak for dit bidrag! Du kan dele din histori på: <a href="#">www.myurl.dk/history01</a> eller på facebook
	</p>
</div>