<a href="#" class="close-btn modal-close"></a>
<h1>Tag <strong>lige stilling</strong></h1>
<div class="state-submit">
	<div class="col-sm-6">
		<form id="tell-your-story_form" class="tell-your-story_form">
			<h2>1. Skriv din historie</h2>
			<div class="tell-your-story--story-box">
				<div class="story-image">
					<a href="#" class="remove-btn"></a>
					<div class="play-btn"></div>
				</div>
				<div class="text-wrapper">
					<div class="textarea-wrapper">
						<textarea class="input-story" noresize minlength="5" data-placeholder="Din historie..." minlength="10" placeholder="Din historie..." required></textarea>
					</div>
					<a href="#" class="add-picture">
						<span class="status"></span>
						<input type="file" name="file" id="addPicture" accept="image/jpeg, image/png, image/jpg" />
					</a>
					<a href="#" class="add-video"></a>
				</div>

				<div class="author-input">
					<a href="#" class="fb-connect">Login med facebook connect <i class="icon"></i></a>

					<a href="#" class="email-instead-btn">Brug email istedet</a>
					
					<div class="email-wrapper hide">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-email-wrapper">
									<input type="email" class="input-email" name="input-email" placeholder="Indtast email" required/>
									<div class="input--indicator"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-name-wrapper">
									<input type="text" class="input-name" name="input-name" placeholder="Indtast navn" minlength="1" required/>
									<div class="input--indicator"></div>
								</div>
							</div>
						</div>
						<div class="input-email-checkbox">
							<span class="input-email-checkbox--checkbox"></span> Din email adresse vil <strong>være skjult</strong>, men dit navn synligt
						</div>
					</div>
				</div>
				<div class="facebook-author hide">
					<div class="facebook-author--img"></div>
					Du poster som <strong class="name"></strong>
				</div>
			</div>
		</form>
	</div>
	<div class="col-sm-6">
		<form id="tell-your-story_form--tags" class="tell-your-story_form--tags">
			<h2>2. Tag din post her</h2>
			<div class="error-msg">Vælg mindst ét tag</div>
			<div class="tell-your-story--tags">
				{{#each tags }}
				<a data-id="{{this._id}}" data-name="{{this.name}}">#{{this.name}} ({{this.storyCount}})</a>
				{{/each}}
			</div>
			<input type="string" class="custom-tag" placeholder="Dit eget tag.."/>
		</form>
	</div>

	<a href="#" class="tell-your-story--submit">3. Send afsted</a>
</div>
<div class="state-done hide">
	<p>
		Mange tak for dit bidrag! Du kan dele din historie på: <a href="" target="_blank" class="story-link"></a>
	</p>
	<div class="story-item--view">
		<div class="embed-video">
			<div class="play-btn"></div>
		</div>

		<div class="text">
			<p>
			Text text
			</p>
		</div>

		<div class="author">
			<div class="author--name"></div>
		</div>
	</div>

	<a href="#" class="tell-your-story--share">Del på Facebook</a>
</div>
<div class="tell-your-story--video-modal">
	<form id="tell-your-story_form--video" class="tell-your-story_form--video">
		<div class="tell-your-story--video-modal--box">
			<a href="#" class="close-btn"></a>
			<input type="text" class="tell-your-story--video-modal--input" placeholder="Indsæt din Youtube-URL">
			<a href="#" class="tell-your-story--video-modal--submit-btn"></a>
		</div>
	</form>
</div>