.frontpage-story {
	text-align:center;
	position: relative;
}

.frontpage-story--text {
	position: absolute;
	display: block;
	color:$blue;
	left:0;
	top:170px;
	text-align:left;
	max-width:465px;
	background:white;
	z-index:11;
	padding:$spacing-small;
	cursor: pointer;
	text-decoration:none !important;
	h2 {
		font-size:24px;
		font-weight: bold;
		margin:0;
		margin-bottom: 5px;
	}

	&:hover, &:active, &:focus {
		color:$blue;
	}

	@include respond-to(tablets) {
		top:100px;
	}

	@include respond-to(handhelds) {
		position: relative;
		top:0;
		max-width:100%;
	}
	.story-item--view--social {
		padding:0;
	}

	&:hover {
		.hover-overlay {
			visibility: visible;
			opacity:0.95;
			.expand-icon {
				opacity: 1;
				margin-top:-52px;
				margin-left:-52px;
				width:104px;
				height:104px;
			}
			.expand-text {
				opacity: 1;
			}
		}
	}
}

.frontpage-story--image {
	margin:auto;
	max-width:1100px;
	height:500px;
	background-position:top center;
	background-size:cover;

	@include respond-to(tablets) {
		height: 350px;
	}

	@include respond-to(handhelds) {
		height: 200px;
	}
}