.grid--view {
	margin:auto;
	margin-top:$spacing;
	.grid-sizer {
		width:16.66666667%;
	}
	.gutter-sizer {
		width:0px;
	}
	.item {
		border:2px solid $bg-color;
		width:16.66666667%;
		margin:0;
		overflow: hidden;
		
		&.featured {
			width:33.3333334%;
		}

		&.tell-your-story--small--view {
			width:33.3333334%;
			top:0;
			left:0;
		}
		&.filter--view {
			width:33.3333334%;
			top:0;
			right:0;
		}

		h3 {
			font-family: $font-family-bold;
			font-size: 32px;
			margin-top: 0;
		}
	}
}

.grid--load-more {
	display: block;
	clear:both;
	width:200px;
	padding:8px 0;
	background:$blue;
	color:$red;
	font-family:$font-family-bold;
	text-align:center;
	margin:auto;
	margin-top:$spacing;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color:white;
	}
}

@include respond-to(handhelds-tablets) {
	.grid--view {
		.item {
			width:100% !important;
			top:auto;
			left:auto;
			right:auto;
		}
	}
}

@include respond-to(tablets) {
	.grid--view {
		.item {
			width:50% !important;
		}
	}
}

@include respond-to(handhelds) {
	.grid--view {
		.tell-your-story--small--view {
			height:250px;
			h3 {
				font-size:28px;
			}
			.placeholder {
				font-size: 20px;
			}
		}
		.filter--view {
			top:250px !important;
		}
	}
}