.story--view {
	min-height:100%;
	padding-top:200px;
	.story-item--view {
		border:none;
		width:600px;
		min-width:280px;

		opacity: 0.5;
		transition:opacity 0.2s;
		.social {
			padding:$spacing-small;
			padding-top:0;
			margin-bottom:10px;
			.social--item {
				float:none;
				margin-left:0;
				margin-right:$spacing-small;
			}
		}

		//When active
		&.slick-center {
			opacity: 1;
			.fb-comments {
				max-height:10000px;
				opacity:1;
			}
		}

	}
	@include respond-to(handhelds) {
		.story-item--view {
			width:280px;
			animation:none !important;
			-webkit-animation:none !important;
		}
		padding-top:0;
	}
}