.story-item--view {
	background:white;
	border:3px solid red;
	cursor: pointer;

	h3 {
		font-size:24px;
		font-family: $font-family-bold;
		margin: 0;
		margin-bottom: 5px;
	}

	.author {
		text-align: center;
		font-size:14px;
		color:$black;
		font-family: $font-family-bold;
		padding:$spacing-small;
	}
	.author--profile {
		width:50px;
		height:50px;
		border-radius:25px;
		margin:auto;
		margin-bottom: 10px;
	}

	.embed-video {
		position: relative;
		cursor: pointer;
		.play-btn {
			position: absolute;
			top:50%;
			left:50%;
			margin:-41px 0 0 -41px;
			width:82px;
			height:82px;
			background-image: url(/images/play-icon.png);
			background-image: linear-gradient(transparent, transparent), url(/images/play-icon.svg);
			transition: opacity 0.2s;
		}
		&:hover {
			.play-btn {
				opacity:0.6;
			}
		}
		&.playing {
			display: none;
		}
	}

	.embed-video--player {
		display:none;
		background: black;
		&.playing {
			display: block;
		}
	}

	&:hover {
		.hover-overlay {
			visibility: visible;
			opacity:0.95;
			.expand-icon {
				opacity: 1;
				margin-top:-52px;
				margin-left:-52px;
				width:104px;
				height:104px;
			}
			.expand-text {
				opacity: 1;
			}
		}
	}

	.fb-comments {
		transition-property:max-height, height, opacity;
		transition-duration:0.5s;
		max-height:0px;
		overflow: hidden;
		opacity:0;
	}

	.text {
		padding:$spacing-small;
		padding-bottom:0;
	}
}

.slick-list {
	.story-item--view {
		cursor: inherit;
	}
	$delay:0;
	@for $i from 1 through 50 {
		.story-item--view:nth-child(#{$i}) {
			animation: slick-list--story-item--animate-in 0.5s #{$delay}s;
			animation-fill-mode: both;
			-webkit-animation: slick-list--story-item--animate-in 0.5s #{$delay}s;
			-webkit-animation-fill-mode: both;
			$delay: $delay+0.07;
		}
	}
}


@-webkit-keyframes slick-list--story-item--animate-in {
	0% {
		transform:translateY(-500px);
	}
	100% {
		transform:translateY(0px);
	}
}

@keyframes slick-list--story-item--animate-in {
	0% {
		transform:translateY(-500px);
	}
	100% {
		transform:translateY(0px);
	}
}