.story-item--view {
	background:white;
	min-height:140px;
	min-width:100px;
	border:3px solid red;
	&:hover {
		background:#ccc;
	}

	.fb-comments {
		transition-property:max-height, height;
		transition-duration:0.5s;
		max-height:0px;
		overflow: hidden;
	}

	//When active
	&.slick-center {
		.fb-comments {
			max-height:10000px;
		}
	}
}