.tell-your-story--view {
	position: relative;
	margin: 20px auto;
	max-width:630px;
	background-color:#fff;
	height:auto;
	overflow: auto;
}

.tell-your-story--tags{
	a {
		cursor:pointer;
		&.selected {
			background:gray;
		}
	}
}